@import url('https://fonts.googleapis.com/css?family=Quicksand');
$light-blue: #e1f5fe;
$white: #FFFFFF;

body{
  background:$light-blue;
  color:$white;
  font-family: 'Quicksand', sans-serif;
  font-size:18px;
}
.lineup {
  a {
    color:#03a9f4;
    &:hover {
      text-decoration:none;
    }
    &::before {
     content: "\2666";
     padding-right:15px;
     color:#01579b;
    }
    &::after {
        content: "\2666";
        padding-left:15px;
        margin-right:-14px;
        color:#01579b;
    }
    span {
      text-transform:uppercase;
      letter-spacing:2px;
      font-weight:500;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;
      position:relative;
      top:0px;
      background:none;
      &:hover {
        color:$white;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
        top:-3px;
        /*background:url('../../img/snowing.gif') repeat;*/
      }
    }
  }
}