@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Oswald:300');
$light-blue: /*#e1f5fe 03a9f4*/ #509bf5;
$dark-blue: #2d46b9;
$white: #FFFFFF;
$black: #2a2426;
$mint: #9bf0e1;
$pink: #ffcdd2;
body{
  background:$light-blue;
background-image: linear-gradient(280deg, $dark-blue 0px, $light-blue);
background-repeat: no-repeat;
background-attachment: scroll;
background-clip: border-box;
background-origin: padding-box;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto auto;
  color:$white;
  font-family: 'Oswald', sans-serif;
  font-size:18px;
}
p {
}
.decoration {
    background-color: transparent;
    background-image: linear-gradient(90deg,$dark-blue 0,hsla(0,0%,100%,0) 75%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    display: block;
    width: 200%;
    height: 100vh;
    top: 45%;
    left: -50%;
    transform: rotate(15deg);
    opacity: 1;
    position:absolute;
}
.decoration-2 {
    background-color: transparent;
    background-image: linear-gradient(230deg,$pink 0,hsla(0,0%,100%,0) 50%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    display: block;
    width: 200%;
    height: 100vh;
    top: 65%;
    right: -50%;
    transform: rotate(-15deg);
    opacity: 1;
    position:absolute;
}
.eski-menu{
  border-radius: 0;
  border:none;
  border-bottom:4px solid $dark-blue;
  background:$mint;
    .navbar-nav {
        li {
          a {
            color:$dark-blue;
            text-transform: uppercase;
            letter-spacing:1px;
            &:hover {
              background:$dark-blue;
              color:$pink;
            }
          }
        }
      }
    .active {
    background:$pink;
  }
}
.logo {
  margin-top:0px;
}
.description {
  border-top:1px dashed $mint;
  border-bottom:1px dashed $mint;
}
h4{
  letter-spacing:2px;
  text-transform: uppercase;
}
.lineup {
  a {
    color:$white;
    font-size:26px;
    line-height: 40px;
    &:hover {
      text-decoration:none;
    }
    &::before {
     content: "\2666";
     padding-right:16px;
     color:$mint;
    }
    &::after {
        content: "\2666";
        padding-left:15px;
        margin-right:-17px;
        color:$mint;
    }
    span {
      text-transform:uppercase;
      letter-spacing:2px;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;
      position:relative;
      top:0px;
      background:none;
      &:hover {
        color:$dark-blue;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        transition: all .2s ease;
        top:-3px;
        /*background:url('../../img/snowing.gif') repeat;*/
      }
    }
  }
}
.left{
  transform-origin: top right;
  transform: rotate(-5deg);
  height: 5px;
  width: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  box-shadow: 10px 10px 5px #888888;
  z-index:-1;
}
.right{
  left: 50%;
  transform-origin: top left;
  transform: rotate(5deg);
  height: 5px;
  width: 50%;
  background-color: black;
  position: absolute;
  top: 0; 
  z-index:-1;
}
.centered {
  float:none;
  margin-left:auto;
  margin-right:auto;
}
.footer {
  font-size:14px;
}

/*ANIMATIONS*/
@keyframes glitch-anim {
  $steps: 10;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
    }
  }
}
.glitch{
  color:white;
  font-size:100px;
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 #03a9f4;
  top:0;
  color:white;
  /*background:black;*/
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 #01579b; 
  top:0;
  color:white;
  /*background:black;*/
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}